@use '@/styles/mixins/index' as m;

.alias,
.one-alias {
  .inline-code {
    @include m.transition(background-color);
  }
  @include m.hover {
    .inline-code {
      background-color: var(--bg-off-2);
    }
  }
}

.data-content {
  align-items: center;
  display: flex;
  flex-direction: column;

  > .type {
    align-items: center;
    display: inline-flex;
  }
}
