@use '@/styles/mixins/viewport-sizes' as vs;

.utility-documentation {
  .tabs {
    margin-top: 24px;
  }

  .code-block {
    margin-top: 16px;
  }

  p + h3 {
    margin-top: 32px;
  }

  h3 {
    font-size: var(--fs-h4);
  }
}
