@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/NunitoSans.woff2') format('woff2');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/NunitoSans-Italic.woff2') format('woff2');
}

@font-face {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Quicksand.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/NotoSansMono.woff2') format('woff2');
}

:export {
  nunitoSans: '/fonts/NunitoSans.woff2';
  nunitoSansItalic: '/fonts/NunitoSans-Italic.woff2';
  quickSand: '/fonts/Quicksand.woff2';
  notoSansMono: '/fonts/NotoSansMono.woff2';
}
