@use '@/styles/mixins/viewport-sizes' as vs;

.page-content {
  --content-h2-margin: 60px;
  --content-h4-margin: 40px;
  --content-list-style-pos: outside;
  --content-list-padding: 24px;
  --content-more-info-margin: 16px 0 0;
  --content-more-info-width: 600px;

  h1 {
    margin-bottom: 14px;
  }
  h2 {
    margin-top: var(--content-h2-margin);
  }
  h4 {
    margin-top: var(--content-h4-margin);

    + p {
      margin-top: 12px;
    }
  }

  .more-info {
    width: var(--content-more-info-width);
  }

  @include vs.tablet {
    --content-h2-margin: 50px;
    --content-h4-margin: 32px;
    --content-more-info-width: 580px;
  }
  @include vs.mobile {
    --content-more-info-width: 560px;
  }
  @include vs.mobile-small {
    --content-more-info-width: 100%;
    --content-more-info-margin: 16px -10px 0;
  }
  @include vs.mobile-and-smaller {
    --content-h2-margin: 40px;
    --content-h4-margin: 24px;
    --content-list-style-pos: inside;
    --content-list-padding: 0;
    --content-margin: 0;
  }
}
