@use './vars.module' as v;

html {
  --transition-dur: #{v.$transition-dur};
  --transition-dur-slow: #{v.$transition-dur-slow};
  --common-radius: 8px;
  --common-radius-sm: 4px;
  --z-tooltip: 2;
  --z-theme-selector-menu: 5;
  --z-notification: 6;
  --main-padding-top: 30px;
}

html:not([data-theme='light']) {
  --bg: #121212;
  --bg-off: color-mix(in srgb, var(--bg), var(--fg) 8%);
  --bg-off-2: color-mix(in srgb, var(--bg), var(--fg) 16%);
  --bg-off-3: color-mix(in srgb, var(--bg), var(--fg) 24%);
  --bg-off-4: color-mix(in srgb, var(--bg), var(--fg) 34%);
  --bg-off-5: color-mix(in srgb, var(--bg), var(--fg) 48%);
  --fg: white;
  --fg-off: color-mix(in srgb, var(--fg), var(--bg) 8%);
  --fg-off-2: color-mix(in srgb, var(--fg), var(--bg) 16%);
  --fg-off-3: color-mix(in srgb, var(--fg), var(--bg) 24%);
  --fg-off-4: color-mix(in srgb, var(--fg), var(--bg) 34%);
  --fg-off-5: color-mix(in srgb, var(--fg), var(--bg) 48%);
  --primary: #9793ff;
  --accent: #ff9736;
  --error: #{v.$error-dark};
  --warning: #{v.$warning-dark};
  --inline-utility: #99f58e;
  --mutable: #ff8973;
}

html[data-theme='light'] {
  --bg: #ffffff;
  --bg-off: color-mix(in srgb, var(--bg), var(--fg) 12%);
  --bg-off-2: color-mix(in srgb, var(--bg), var(--fg) 28%);
  --bg-off-3: color-mix(in srgb, var(--bg), var(--fg) 34%);
  --bg-off-4: color-mix(in srgb, var(--bg), var(--fg) 44%);
  --bg-off-5: color-mix(in srgb, var(--bg), var(--fg) 54%);
  --fg: #0d0d0d;
  --fg-off: color-mix(in srgb, var(--fg), var(--bg) 8%);
  --fg-off-2: color-mix(in srgb, var(--fg), var(--bg) 16%);
  --fg-off-3: color-mix(in srgb, var(--fg), var(--bg) 24%);
  --fg-off-4: color-mix(in srgb, var(--fg), var(--bg) 34%);
  --fg-off-5: color-mix(in srgb, var(--fg), var(--bg) 48%);
  --primary: #3742c4;
  --accent: #dd8100;
  --error: #{v.$error-light};
  --warning: #{v.$warning-light};
  --inline-utility: #0f9400;
  --mutable: #c13318;
}
