$error-dark: #de4949;
$warning-dark: #ffc800;
$error-light: #da1200;
$warning-light: #d5a700;

$transition-dur: 0.2s;
$transition-dur-slow: 0.4s;
$content-size: 1300px;

$common-scroll-padding-top: 16px;

/**
 * custom breakpoints
 * 1300+ desktop
 * 900-1299 tablet
 * 600-899 mobile
 * 599- mobile small
 */

$desktop-min: $content-size;
$tablet-max: $desktop-min - 0.1;
$tablet-min: 900px;
$mobile-max: $tablet-min - 0.1;
$mobile-min: 600px;
$mobile-small-max: $mobile-min - 0.1;

:export {
  commonScrollPaddingTop: $common-scroll-padding-top;
  errorDark: $error-dark;
  errorLight: $error-light;
  transitionDur: $transition-dur;
  transitionDurSlow: $transition-dur-slow;
  warningDark: $warning-dark;

  // viewport vars
  contentSize: $content-size;
  desktopMin: $desktop-min;
  tabletMin: $desktop-min;
  mobileMin: $desktop-min;
}
