.inline-code {
  background-color: var(--bg-off);
  border-radius: var(--common-radius-sm);
  display: inline-block;
  font-family: 'Noto Sans Mono', monospace;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 2px;
}
